:root {
  // colors
  --color-primary: #5E81FE;
  --color-secondary: #D2E1FF;
  --color-accent: #273c82;
  --color-disabled: #697CA6;
  --color-black: #1d1f2a;
  --color-red: #FF4545;

  // sizes
  --header-height: 80px;
  --horizontal-content-padding: 10%;

  // properties
  --default-border: 0.5px solid var(--color-secondary);
}
