.loginButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--color-accent);
  transition: var(--button-transition);

  .title {
    margin-left: 4px;
    color: inherit;
  }
}