.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0.5rem;
  width: 100%;
  font-weight: 500;
  transition: 0.2s;
  text-align: center;

  &_primary {
    background: var(--color-primary);
    color: white;
  }

  &_secondary {
    background: var(--color-primary);
    color: white;
  }

  &_selected {
    background: var(--color-primary);
    color: white;
  }

  &_small {
    padding: 8px 0;
  }

  &_medium {
    padding: 16px 0;
  }

  &:active {
    transform: scale(0.95);
    filter: brightness(0.9);
  }

  &:hover {
    filter: brightness(0.9);
  }
}