.logs {
  padding: 1.5rem 0 1rem;
}

.caption {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.tableWrapper {
  margin-top: 1.5rem;
}

.noData {
  padding: 1rem;
  color: var(--color-disabled);
}