.tariffs {
  padding: 1.5rem 0 1rem;
}

.caption {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}


.info {
  display: flex;
  align-items: end;
  gap: 1.5rem;

  .tariffsCount {
    white-space: nowrap;
    color: var(--color-disabled);
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 800;
  }
}

.tableWrapper {
  margin-top: 1.5rem;
}

.manage{
  display: flex;
  gap: 0.5rem;
}

.noData {
  padding: 1rem;
  color: var(--color-disabled);
}