.tariffs {
  padding: 1rem 0;
}

.caption {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.tariffsCount {
  white-space: nowrap;
  color: var(--color-disabled);
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 800;
}

.tableWrapper {
  margin-top: 1.5rem;
}

.noData {
  padding: 1rem;
  color: var(--color-disabled);
}