.mainLayout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  background-color: var(--color-secondary);

  .main {
    flex: 1;
    position: relative;
    box-sizing: border-box;
    margin-top: var(--header-height);
    padding: 0 var(--horizontal-content-padding);
  }
}
